{% extends "base.html" %}

{% block "title" %}Įrašas{% endblock %}

{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.user }}</a>
            <small class="text-muted">{{ post.date_created | date:"Y-m-d, f" }}</small>
            <h2><a class="class-article">{{ post.title }}</a></h2>
            <p class="class-content">{{ post.content | safe }}</p>
            {% if post.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' post.pk %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="">Ištrinti</a>
            </div>
            {% endif %}
            <hr>
            <h4>Komentarai <small>({{ post.comments_count }})</small>:</h4>
            {% if user.is_authenticated %}
            <div class="fieldWrapper">
                <hr><br/>
                <h1>Palikite atsiliepimą</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.content }}<br/>
                    <input type="submit" value="Paskelbti">
                </form>
            </div>
            {% endif %}
            {% if post.comments.all %}
            {% for comment in post.comments.all %}
            <small class="text-muted">{{ comment.user }}, {{ comment.date_created | date:"Y-m-d, f" }}</small>
            {% if comment.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comments_update' comment.pk %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comments_delete' comment.pk %}">Ištrinti</a>
            </div>
            {% endif %}
            <p>{{ comment.content | safe }}</p>
            {% endfor %}
            {% else %}
            <p>Komentarų nėra</p>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}